.places {
    text-align: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #ff5A5F 1px;
    border-radius: 4px;
    display: inline-table;
}

article h2 {
    font-size: 30px;
    text-align: center;
}

div.price_by_night {
    color: #ff5A5F;
    border: solid #ff5A5F 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 100%;
    float: right;
    top: -85px;
    position: relative;
    line-height: 60px;
}

div.information {
    height: 80px;
    border-top: solid #DDDDDD 1px;
    border-top: solid #DDDDDD 1px;
}

div.max_guest, div.number_rooms, div.number_bathrooms {
    width: 100px;
    height: 100%;
    line-height: 125px;
    display: inline-block;
    background-position: 50% 5px;
    background-repeat: no-repeat;
}

.max_guest {
    background-image: url(../images/icon_group.png);
}

.number_rooms {
    background-image: url(../images/icon_bed.png);
}

.number_bathrooms {
    background-image: url(../images/icon_bath.png);
}


div.user, div.description {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}